<%- include('partials/header') %>
    <%- include('partials/nav') %>



        <div class="information-div container mx-auto flex justify-between items-center py-2 px-8">
            <h1>Help</h1>
        </div>



        <%- include('partials/footer') %>