<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <img src="/images/sendmate-logo.png" alt="Sendmate Logo" class="logo">
            <h1 class="title">Sendmate</h1>
            <% if (typeof error !=='undefined' && error) { %>
                <p class="text-red-500 text-center mb-4">
                    <%= error %>
                </p>
                <% } %>
                    <button class="google-login">
                        <img src="/images/google-logo.png" alt="Google Logo" class="google-icon">
                        Continue with Google
                    </button>
                    <div class="separator">
                        <span>OR</span>
                    </div>
                    <form action="/api/auth/login" method="POST">
                        <input type="email" id="email" name="email" placeholder="Email" required class="input-field">
                        <input type="password" id="password" name="password" placeholder="Password" required
                            class="input-field">
                        <div class="flex checkbox-show">
                            <input type="checkbox" id="showPassword" class="mb-4"
                                style="align-self: left; font-size: 0.5rem;"> <label for="showPassword">Show
                                Password</label>
                        </div>
                        <button type="submit" class="login-button">Log in</button>
                    </form>
                    <p class="signup-text login-links">Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>
    <script>
        document.getElementById("showPassword").addEventListener("change", function () {
            const passwordInput = document.getElementById("password");
            passwordInput.type = this.checked ? "text" : "password";
        });
    </script>
</body>


</html>